---
import Separator from "../components/Separator.astro";
import TextSlider from "../components/TextSlider.astro";

// Get the current pathname
const currentPath = Astro.url.pathname;

// Define a map of routes
const routes = {
	"/": "Projects",
	"/about/": "About",
	"/contact/": "Contact",
};

// Determine the active route
const activeRoute = routes[currentPath] || null;
---

<header>
	<h1>
		<a href="/" class={activeRoute === "Projects" ? "current" : ""}>
			<TextSlider content="Chen-Pei Jyuan" />
		</a>
	</h1>

	<span class="role">
	<TextSlider content="Brand & Visual Designer" />
</span>

	<ul>
		<li>
			<a
				href="/"
				class={activeRoute === "Projects" ? "current" : ""}
				data-astro-prefetch
			>
				<TextSlider content="Projects" />
			</a>
		</li>

		<li>
			<a
				href="/about/"
				class={activeRoute === "About" ? "current" : ""}
				data-astro-prefetch
			>
				<TextSlider content="About" />
			</a>
		</li>

		<li>
			<a
				href="/contact/"
				class={activeRoute === "Contact" ? "current" : ""}
				data-astro-prefetch
			>
				<TextSlider content="Contact" />
			</a>
		</li>
	</ul>
</header>

<Separator />

<style>
	header {
		position: relative;
		display: grid;
		grid-template-columns: min-content auto;
		font-weight: 700;
		padding: 1rem 0;
		gap: 1rem;
		z-index: 3;
	}

	header a.current {
		pointer-events: none;
	}

	h1 {
		font-size: 1rem;
		font-weight: inherit;
		margin: 0;
		white-space: nowrap;
	}

    .role {
	opacity: 0.6;
	font-weight: 400;
    }

	ul {
		display: flex;
		list-style: none;
		gap: 1rem;
		margin: 0;
		padding: 0;
		grid-column: auto / span 2;
	}

	@media screen and (min-width: 50em) {
		header {
			grid-template-columns: 20vw 1fr auto auto;
		}
	}
</style> 