---
import type { CollectionEntry } from "astro:content";
import ProductCard from "./ProductCard.astro";
import ProductTooltip from "./ProductTooltip.astro";

type Props = {
	projects: CollectionEntry<"projects">[];
};

const { projects } = Astro.props;
const grid = "projects";
---

<section
	class="product-grid"
	id="grid"
	data-grid={grid}
>
	{projects.map((project) => (
		<div data-category={project.data.category} class="grid-item">
			<ProductCard product={project} />
		</div>
	))}
</section>

<ProductTooltip grid={grid} />

<style>
	.product-grid {
		position: relative;
		overflow: hidden;
		display: grid;
		width: 100%;

		/* 手機：3 欄 */
		grid-template-columns: repeat(3, 1fr);

		gap: 0rem;
		margin: 1rem 0 10rem;
		min-height: 400px;
	}

	/* 🎯 確保包裹用的 div 完美填滿網格，不排擠原本的作品卡片樣式 */
	.grid-item {
		display: block;
		width: 100%;
		height: 100%;
	}

	/* 平板：4 欄 */
	@media screen and (min-width: 50em) {
		.product-grid {
			grid-template-columns: repeat(4, 1fr);
		}
	}

	/* 桌機：5 欄 */
	@media screen and (min-width: 80em) {
		.product-grid {
			grid-template-columns: repeat(5, 1fr);
		}
	}
</style>