---
import type { CollectionEntry } from "astro:content";
import SanityImage from "./SanityImage.astro";

type Props = {
	product: CollectionEntry<"products">;
};

const { product } = Astro.props;
---

<a
	class="product-card"
	data-product-title={product.data.name}
	data-astro-prefetch
	href="#"
>
	<article>
		<SanityImage
			node={product.data.imageWithAlt}
			width={800}
		/>

		<div class="product-meta">
			<h3>{product.data.name}</h3>

			<p>
				{product.data.publishedAt
					? new Date(product.data.publishedAt).getFullYear()
					: ""}
			</p>
		</div>
	</article>
</a>

<style>
	.product-card {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		max-width: 300px;
	}

	.product-meta {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-top: 0.5rem;
	}

	h3,
	p {
		margin: 0;
	}

	p {
		opacity: 0.6;
	}
</style>